VITE_SUPABASE_URL=https://kmugyjpduistpliatnrh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImttdWd5anBkdWlzdHBsaWF0bnJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0NjYzNDQsImV4cCI6MjA5MzA0MjM0NH0.CHu4PzsHMssLB393dU_OurGmtSyT6EbwCBgDh9QAu6Y